<table>
<tr>
<td>Default Value</td>
<td>Start Date</td>
<td>Mark Delete</td>
</tr>
#foreach($obj in $ )
#if ($obj[0] == 3)
<tr>
<td>$obj[0]</td>
<td>Start Date</td>
<td>Mark Delete</td>
</tr>
#end
</table>